html, body {
    height: 100%;
}

#container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100%;
    margin: 0;
    flex-direction: column;
}

#container {
    display: flex;
    width: 750px;
    height: 750px;
    max-width: 750px;
    max-height: 750px;
    flex-direction: column;
    border-style: solid;
    border-width: 10px;
    border-color: red;
}

.row {
    flex-grow: 1;
    display: flex;
    max-width: 750px;
}

.square {
    background-color: white;
    flex-grow: 1;
}

.drawn {
    background-color: blue;
}

#reset {
    padding: 20px 40px;
    font-size: 24px;
    margin: 20px;
    border-style: solid;
    border-width: 10px;
    border-radius: 8px;
    border-color: green;
}